<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="libs/angular.min.js"></script>
    <title>Tính Tổng - Hiệu - Tích - Thương</title>
</head>

<body ng-app="myApp">
    <div class="container mt-5" ng-controller="mainController">
        <h1>Tính Tổng - Hiệu - Tích - Thương </h1>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nhập số a</label>
                <input type="number" class="form-control" ng-model="soA" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nhập số b</label>
                <input type="number" class="form-control" ng-model="soB" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submit()">Kết quả</button>
        </form>
        <div  class="alert alert-info mt-3 ">
         
            <p>Tổng là : {{tong}}</p>
            <p>Hiệu là : {{hieu}}</p>
            <p>Tích là : {{tich}}</p>
            <p>Thương là : {{thuong}}</p>
        </div>

    </div>
</body>
<script src="controllers/pheptoan.js"></script>

</html>