<h1>{{titleAdd}}</h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            ng-model="inputValue.name">
            <span class="text-danger" ng-if="checkDL.name == true">Bạn cần nhập tên sản phẩm</span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Giá sản phẩm</label>
        <input type="number" class="form-control" id="exampleInputPassword1" ng-model="inputValue.price">
        <span class="text-danger" ng-if="checkDL.price == true">Bạn cần nhập giá sản phẩm</span>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="submitAdd()">Thêm mới</button>
    <button  class="btn btn-success" >
        <a href="#!/product/list" style="text-decoration: none; color: aliceblue;">Danh sách</a>
    </button>
</form>